.content{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
h2{
    text-align: center;
}
.galery{
    display: flex;
}
.galery-content{
    display: flex;
    text-align: center;
}
.galery-img{
    width: 100%;
    max-width: 300px;
}